ansible-core
cryptography
deepdiff
git+https://github.com/vmware/vsphere-automation-sdk-python.git
httpx
jsonpatch
kubernetes
netaddr
ovf
pandas
pynetbox
pyVmomi
pysafeguard
pysnow
pytest-ansible
requests
requests-oauthlib
sign
vmware-vapi-common-client
vmware-vcenter
psycopg2
