pysnow
requests
httpx
netaddr
aiohttp
pyVmomi>=8.0.3.0.1
git+https://github.com/vmware/vsphere-automation-sdk-python.git
vmware-vcenter
vmware-vapi-common-client
pysafeguard
ansible-builder
ansible-core
ansible-creator
ansible-lint
ansible-navigator
ansible-sign
molecule
pytest-ansible
tox-ansible
kubernetes>=12.0.0
requests-oauthlib
jsonpatch
pynetbox==5.3.1
ansible-modules-hashivault==4.6.3
deepdiff==5.7.0
pandas==1.4.1
ovf==0.4.3
cryptography==36.0.2